@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@700&family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Lato;
    font-weight: 400;
}

.img-mujer1 {
    max-width: 513px;
    height: 548px;
}

.img-personas-flor {
    width: 700px;
    height: auto;
}

.green-border {
    color: #1DBE98;
    border: solid #1DBE98 1px;
    padding: 0 0.5rem;
    border-radius: 1rem;
    font-weight: 400;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.ability {
    color: white;
    background-color: #1DBE98;
    padding: 0.1rem 0.75rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    font-weight: 300;
}

a{
    text-decoration: none;
}
